@import "../../global.scss";


li{
    font-size: 16px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    
    @include mobile{
        font-size: 12px;
        margin-right: 5px;
    }

    &.active{
        background-color: $mainColor;
        color: white;
    }
}