@import '../../global.scss';

.contact {
    background-color: lightblue;
    display: flex;

    @include mobile {
        flex-direction: column;
    }

    .left {
        flex: 1;
        img {
            overflow: hidden;
        }
    }
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: center;

        h2 {
            padding: 5px;
            margin: 15px 0px;
        }

        form {
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            //justify-content: space-between;

            * {
                border-radius: 5px;
                margin-bottom: 15px;
                border:none;
                padding: 5px;

                &:focus {
                    box-shadow: $mainColor;
                    outline: $mainColor;
                    }
            }
            input {
                height: 30px;
                width: 250px;
                font-size: 18px;
            }
            textarea{
                height: 120px;
                resize: none;
                width: 250px;
            }
            button{
                font-size: 18px;
                font-weight: 400;
                height: 40px;
                width: 100%;
                color: $mainColor;
                background-color: white;
                cursor: pointer;
            }
        }
    }
}
